
@using SES.Models;
@{
    ViewBag.Title = "Địa bàn vận chuyển";
}

@{
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var asset = dict.ContainsKey("asset") ? (Dictionary<string, bool>)dict["asset"] : new Dictionary<string, bool>();
    var listActiveStatus = dict.ContainsKey("activestatus") ? (List<ActiveStatus>)dict["activestatus"] : new List<ActiveStatus>();

}
<ul id="tabDVVC" class="nav nav-tabs bordered padding-12 tab-color-blue background-blue">
    <li class="active">
        <a href="#s1" data-toggle="tab">Đơn vị vận chuyển</a>
    </li>
    <li>
        <a href="#s2" data-toggle="tab">Địa bàn vận chuyến</a>
    </li>
    <li>
        <a href="#s3" data-toggle="tab">Địa bàn vận chuyển theo vùng miền</a>
    </li>
</ul>
<div id="tabQlVM" class="tab-content padding-10">
    <div class="tab-pane fade in active" id="s1">
        @Html.Partial("_TransporterUnit")
    </div>
    <div class="tab-pane fade" id="s2">
        @Html.Partial("_TransportLocaction")
    </div>
    <div class="tab-pane fade" id="s3">
        @Html.Partial("_TransportLocactionTerritoty")
    </div>
   
</div>

